<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add question</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /></head>
</head>
<body class="font-weight-normal font-italic p-3 mb-2 bg-dark text-light">
	<h2>Add question</h2>
<br>
	<div class="container-fluid">

		<form th:object="${question}" th:action="@{/savequestion}" action="#" method="post">

			<label for="exampleInputTitle">Enter question: </label><input type="text" id="title" th:field="*{questionline}" /> <br>
    		<br>
			<input class="btn btn-outline-success" type="submit" value="Save"></input>
			</form>

	</div>
</body>
</html>