<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Kysely</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
</head>

<body>
<h2 sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/add}" class="btn btn-xs btn-success">Add new Quiz</a></h2>
	<div>
	
		<th:block th:each="quiz : ${quizzes}">
			<table class="rounded table table-dark table-sm">
				<tr th:text="${quiz.quizName}"></tr>
				
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${quiz.quizId})}" class="btn btn-xs btn-danger">Delete quiz</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/addquestion/{id}(id=${quiz.quizId})}" class="btn btn-xs btn-success">Add question</a></td>
				<tr th:each="question : ${quiz.question}">
					<td th:text="${question.questionline}"></td>
					<td>
						<p th:each="answer: ${question.answers}">
							<span th:text="${answer.answerline}"></span>
						</p>
					</td>
				</tr>
			</table>
		</th:block>


	</div>
</body>
</html>