<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
    th:href="@{css/bootstrap.min.css}">
</head>

<body>
<div>
		<table class="rounded table table-dark table-sm">

			<tr th:each="question : ${questions}">

				<td th:text="${question.questionline}"></td>
				
				<td th:text="${question.answers}"></td>
				
				</tr>
				
		</table>
		
	</div>
</body>
</html>